#!/bin/bash

#Please don't edit this file unless you know what you are doing.


#ODE system (DIM) and Time of Solution (T) Details
export DIM=150
export T=10000

#Monte-Carlo Integral Details
export AVG_LENGTH=5000
export SAMP_LENGTH=5000

#DGEMM Matrix Multiplication Details
export MATRIX_DIM=1000
export N_ITER=100

#Linear Equation Solution Details (error limit is pow(10,-ERR_TOL))
export DIM=1000
export MAX_ITER=1000000
export ERR_TOL=5

#Direct Integral Details
export COUNT=500000000