#!/bin/bash

#Do_not_edit_this_file_unless_you_know_what_you_are_doing.
#Changing_the_contents_of_this_file_might_change_the_output_values.

#ODE_system_and_Time_of_Solution_Details
export ODE_DIM=150
export ODE_TIME=10000

#Monte-Carlo_Integral_Details
export AVG_LENGTH=5000
export SAMP_LENGTH=5000

#DGEMM_Matrix_Multiplication_Details
export MATRIX_DIM=1000
export N_ITER=100

#Linear_Equation_Solution_Details_(error_limit_is_10^-5)
export LIN_DIM=1000
export MAX_ITER=1000000
export ERR_TOL=5

#Direct_Integral_Details
export COUNT=500000000
